@import "mixins/media";
@import "mixins/px-to-rem";
@import "fonts";

.button-reset {
	margin: 0;
	padding: 0;
	border-radius: 0;
	border: none;
	background-color: transparent;
	outline: none;
}

.logo {
	display: block;
	max-width: rem(245px);
}

.button {
	display: inline-block;
	padding: rem(17px);
	font-weight: 600;
	font-size: rem(16px);
	line-height: 120%;
	text-transform: uppercase;
	border: none;
	border-radius: 10px;
	background-color: var(--color-green-light);
	color: var(--color-white);
	cursor: pointer;
	outline: none;
	transition: background-color var(--main-transition), color var(--main-transition);

	&:hover {
		background-color: #86af29;
	}

	&:focus {
		background-color: #86af29;
	}

	&_secondary {
		color: var(--color-dark);
		background-color: transparent;
		border: 1px solid var(--color-green-light);
		transition: background-color var(--main-transition), color var(--main-transition);

		&:hover {
			background-color: var(--color-green-light);
			color: var(--color-white);
		}

		&:focus {
			background-color: var(--color-green-light);
			color: var(--color-white);
		}
	}

	&_iconed {
		display: flex;
		align-items: center;
		padding: rem(14px) rem(16px);
		transition: fill var(--main-transition),  background-color var(--main-transition), color var(--main-transition);

		&__icon {
			display: block;
			margin-right: rem(8px);
			fill: var(--color-green-light);
			transition: fill var(--main-transition);

			@include mq(md) {
				fill: var(--color-white);
			}
		}

		&:hover {
			background-color: var(--color-green-light);

			.button_iconed__icon {
				fill: var(--color-white);
			}
		}

		&:focus {
			background-color: var(--color-green-light);

			.button_iconed__icon {
				fill: var(--color-white);
			}
		}
	}

	@include mq(md) {
		border-color: var(--color-white);
		color: var(--color-white);
	}
}

.nav {
	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		margin-right: rem(40px);

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		font-weight: 600;
		font-size: rem(22px);
		line-height: rem(26px);
		transition: color var(--main-transition);

		&:hover {
			color: var(--color-green-light);
		}

		&:focus {
			color: var(--color-green-light);
		}
	}
}

.markweber {
	display: flex;
	align-items: flex-start;
	font-size: rem(16px);
	line-height: rem(19px);
	margin-right: rem(50px);
	color: var(--color-grey2);

	img {
		margin-left: rem(10px);
		width: rem(88px);
		height: rem(22px);
		object-fit: cover;
		transform: translateX(10px);
	}
}

.site-second-title {
	font-weight: 600;
	font-size: rem(36px);
	line-height: rem(43px);
	margin: 0;

	@include mq(xs) {
		font-size: rem-mq(20px);
		line-height: rem-mq(24px);
	}
}

.breadcrubs {
	display: flex;
	align-items: center;
	margin-bottom: 3rem;

	&__item {
		&-link {
			display: flex;
			align-items: center;
			font-size: rem(18px);
			line-height: rem(26px);
			color: rgba($color: #000000, $alpha: 0.5);
			transition: color var(--main-transition);

			&:hover {
				color: var(--color-green-light);

				.breadcrubs__item-icon {
					fill: var(--color-green-light);
				}
			}

			&:focus {
				color: var(--color-green-light);

				.breadcrubs__item-icon {
					fill: var(--color-green-light);
				}
			}
		}

		&-icon {
			fill: rgba($color: #000000, $alpha: 0.5);
			margin-right: rem(14px);
			transition: fill var(--main-transition);
			width: 0.9rem;
			height: 1.4rem;
		}
	}

	@include mq(md) {
		display: none;
	}
}
