.succes-identification {
	&__container {
		position: relative;
		padding-top: rem(126px);
		padding-bottom: rem(136px);

		@include mq(sm) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding-top: rem-mq(40px);
			padding-bottom: rem-mq(60px);
		}
	}

	&__image {
		position: absolute;
		top: rem(26px);
		right: rem(100px);
		width: rem(375px);
		height: rem(406px);

		@include mq(sm) {
			position: static;
			top: auto;
			right: auto;
			width: rem-mq(160px);
			height: rem-mq(173px);
			align-self: center;
			margin-bottom: rem-mq(25px);
		}
	}

	&__title {
		max-width: rem(571px);
		font-size: rem(54px);
		line-height: rem(64px);
		margin-bottom: rem(30px);
		color: var(--color-green-light);

		@include mq(sm) {
			font-size: rem-mq(24px);
			line-height: rem-mq(28px);
			margin-bottom: rem-mq(20px);
		}
	}

	&__text {
		max-width: rem(540px);
		margin: 0;
		margin-bottom: rem(40px);
		font-size: rem(22px);
		line-height: rem(32px);

		@include mq(sm) {
			font-size: rem-mq(12px);
			line-height: rem-mq(15px);
			margin-bottom: rem-mq(20px);
		}
	}

	&__button {
		padding: rem(22px) rem(32px);

		@include mq(sm) {
			padding: rem-mq(13px) rem-mq(15px);
		}
	}
}
