.online-services-use-now {
	margin-bottom: rem(120px);

	@include mq(sm) {
		margin-bottom: rem-mq(50px);
	}

	&__title {
		margin-bottom: rem(40px);

		@include mq(sm) {
			margin-bottom: rem-mq(20px);
		}
	}

	&__list {
		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: repeat(2, rem(146px));
		gap: rem(20px);

		@include mq(sm) {
			grid-template-rows: none;
		}
	}

	&__item {
		padding: rem(35px) rem(47px);
		background-color: var(--color-grey-light);
		border-radius: 10px;
		grid-column: 5 span;

		@include mq(sm) {
			grid-column: 10 span;
			grid-template-rows: none;
			padding: rem-mq(24px) rem-mq(30px);
		}

		&-legend {
			display: block;
			margin-bottom: rem(15px);
			color: var(--color-green-light);
			font-weight: 600;
			font-size: rem(24px);
			line-height: rem(28px);

			@include mq(sm) {
				font-size: rem-mq(14px);
				line-height: rem-mq(19px);
				margin-bottom: rem-mq(18px);
			}
		}

		&-text {
			font-size: rem(20px);
			line-height: rem(24px);

			@include mq(sm) {
				font-size: rem-mq(14px);
				line-height: rem-mq(19px);
				margin-bottom: rem-mq(21px);
			}
		}

		&-links {
			display: grid;
			grid-template-columns: repeat(10, 1fr);
			grid-template-rows: repeat(2, auto);
			gap: rem(23px);
			column-gap: rem(36px);
			max-width: rem(326px);

			@include mq(sm) {
				display: flex;
				grid-template-columns: none;
				grid-template-rows: none;
				gap: 0;
				column-gap: 0;
				max-width: 100%;
			}
		}

		&-qr {
			grid-column: 5 span;
			grid-row: 2 span;
			display: block;
			width: rem(126px);
			height: rem(126px);
			object-fit: contain;

			@include mq(sm) {
				display: none;
			}
		}

		&-appstore,
		&-googlepaly {
			display: inline-block;
			grid-column: 5 span;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}

			@include mq(sm) {
				grid-column: none;
			}
		}

		&-appstore {
			margin-right: 4px;
		}

		&:nth-child(1) {
			grid-column: 5 span;
			grid-row: 2 span;

			.online-services-use-now__item-text {
				display: inline-block;
				margin-bottom: rem(26px);
			}

			@include mq(sm) {
				grid-column: 10 span;
				grid-row: auto;
			}
		}
	}
}
