.contact-us {
	color: var(--color-white);
	padding: rem(77px) 0 rem(91px) 0;
	margin-bottom: rem(100px);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	@include mq(xs) {
		padding: rem-mq(30px) 0 rem-mq(60px) 0;
		background-position: 60% 100%;
		margin-bottom: rem-mq(47px);
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding-right: rem(60px);

		@include mq(xs) {
			align-items: stretch;
		}
	}

	&__content-wrapp {
		display: flex;
		flex-direction: column;
	}

	&__legend {
		display: inline-block;
		margin-bottom: rem(22px);
		font-weight: 600;
		font-size: rem(22px);
		line-height: rem(26px);

		@include mq(xs) {
			font-size: rem-mq(20px);
			line-height: rem-mq(24px);
			margin-bottom: 12px;
		}
	}

	&__tel {
		display: inline-block;
		margin-bottom: rem(73px);
		font-weight: 700;
		font-size: rem(50px);
		line-height: rem(60px);
		transition: color var(--main-transition);

		&:hover {
			color: var(--color-green-light);
		}

		&:focus {
			color: var(--color-green-light);
		}

		@include mq(xs) {
			font-size: rem-mq(28px);
			line-height: rem-mq(33px);
			margin-bottom: rem-mq(47px);
		}
	}

	&__form {
		display: flex;
		align-items: center;

		@include mq(xs) {
			flex-direction: column;
		}

		&-label {
			display: block;
			position: relative;
			height: rem(64px);
			width: rem(302px);
			margin-right: rem(20px);

			.parsley-errors-list {
				font-size: rem(14px);
				color: var(--color-error);
			}

			@include mq(xs) {
				width: 100%;
				height: rem-mq(42px);
				margin-right: 0;
				margin-bottom: rem-mq(16px);
			}
		}

		&-input {
			height: 100%;
			width: 100%;
			background-color: var(--color-white);
			border-radius: 10px;
			border: none;
			outline: none;
			padding: rem(19px) rem(22px);
			font-size: rem(20px);
			line-height: rem(24px);
			border: 2px solid var(--color-white);

			&::placeholder {
				font-size: rem(20px);
				line-height: rem(24px);
				color: #a0a0a0;
			}

			&.parsley-error {
				border-color: var(--color-error);
			}

			@include mq(xs) {
				padding: rem-mq(12px) rem-mq(16px);
				font-size: rem-mq(14px);
				line-height: rem-mq(16px);
			}
		}

		&-button {
			padding: rem(23px) rem(33px);
			font-weight: 400;

			@include mq(xs) {
				padding: rem-mq(15px);
				width: 100%;
				display: block;
			}
		}
	}
}
