.footer {
	&__top-block {
		padding: rem(40px) 0 rem(31px) 0;
		border-top: 6px solid var(--color-green-light);
		border-bottom: 1px solid var(--border-color);

		@include mq(md) {
			display: none;
		}
	}

	&__middle-block {
		row-gap: 0;
		padding: rem(44px) 0 rem(40px) 0;
		border-bottom: 1px solid var(--border-color);

		@include mq(md) {
			padding-top: 0;
			row-gap: 4rem;
		}

		@include mq(xs) {
			row-gap: rem-mq(24px);
			border-bottom: none;
		}
	}

	&__middle-block-col {
		grid-column: 3 span;

		@include mq(md) {
			grid-column: 6 span;

			&:nth-last-of-type(1) {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			}
		}

		@include mq(xs) {
			grid-column: 12 span;
		}
	}

	&__legend {
		display: inline-block;
		margin-bottom: rem(30px);
		font-weight: 600;
		font-size: rem(20px);
		line-height: rem(24px);

		@include mq(xs) {
			font-size: rem-mq(18px);
			line-height: 122%;
			margin-bottom: rem-mq(15px);
		}
	}

	&__nav-item {
		margin-bottom: rem(16px);

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__nav-link {
		font-weight: 600;
		font-size: rem(18px);
		line-height: rem(18px);
		color: var(--color-grey);
		transition: color var(--main-transition);

		&:hover {
			color: var(--color-green-light);
		}

		&:focus {
			color: var(--color-green-light);
		}

		@include mq(xs) {
			font-size: rem-mq(14px);
		}
	}

	&__tel {
		font-weight: 600;
		display: inline-block;
		margin-bottom: rem(50px);
		font-size: rem(32px);
		line-height: rem(39px);
		transition: color var(--main-transition);

		span {
			display: block;
			margin-top: 3px;
			color: var(--color-grey2);
			font-size: rem(16px);
			line-height: rem(19px);
		}

		&:hover {
			color: var(--color-green-light);
		}

		&:focus {
			color: var(--color-green-light);
		}

		@include mq(xs) {
			margin-bottom: rem-mq(24px);
		}
	}

	&__button {
		color: var(--color-green-light);
		padding: rem(15px) rem(18px);
		font-weight: 600;
		font-size: rem(20px);
		line-height: rem(24px);
		text-transform: none;
		margin-bottom: rem(50px);

		@include mq(md) {
			border-color: var(--color-green-light);
			color: var(--color-green-light);
		}

		@include mq(xs) {
			margin-bottom: rem-mq(24px);
		}
	}

	&__mobile {
		@include mq(md) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}

		@include mq(xs) {
			flex-direction: row;
			flex-wrap: wrap;

			.footer__legend {
				width: 100%;
			}
		}
	}

	&__mobile-link {
		display: inline-block;

		&:nth-of-type(1) {
			margin-right: rem(20px);
			width: rem(124px);
			height: rem(40px);
			object-fit: cover;
		}

		&:nth-of-type(2) {
			margin-right: rem(20px);
			width: rem(133px);
			height: rem(40px);
			object-fit: cover;
		}

		@include mq(md) {
			margin-right: 0 !important;
			margin-bottom: rem-mq(10px) !important;
		}

		@include mq(xs) {
			margin-bottom: 0 !important;
			margin-right: rem-mq(20px) !important;
		}
	}

	&__mobile-qr {
		display: flex;
		align-items: center;
		margin-top: rem(24px);

		&-img {
			display: block;
			width: 12rem;
			object-fit: cover;
			margin-right: rem(14px);
		}


		span {
			display: inline-block;
			max-width: 13rem;
			color: var(--color-grey);
			font-size: rem(14px);
			line-height: rem(16px);
		}

		@include mq(xs) {
			display: none;
		}
	}

	&__social {
		display: flex;
		align-items: center;

		&-item {
			margin-right: rem(20px);

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__bottom-block {
		padding-top: rem(25px);
		padding-bottom: rem(40px);

		@include mq(xs) {
			padding-top: 0;
		}
	}

	&__links {
		max-width: rem(1030px);

		&_wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;

			@include mq(md) {
				align-items: flex-start;
				flex-direction: column;
			}
		}

		&-item {
			position: relative;
			display: inline;
			padding-left: 7px;
			margin-right: 7px;
			color: var(--color-grey2);
			font-size: rem(16px);
			line-height: rem(19px);
			transition: color var(--main-transition);

			&::before {
				position: absolute;
				top: 9px;
				left: 0;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background-color: var(--color-green-light);
				content: "";
			}

			&:hover {
				color: var(--color-green-light);
			}

			&:focus {
				color: var(--color-green-light);
			}

			@include mq(sm) {
				font-size: rem-mq(14px);
				line-height: rem-mq(16px);
			}
		}

		@include mq(md) {
			margin-bottom: rem-mq(20px);
		}
	}

	&__visuallyImpaired {
		display: inline-flex;
		align-items: center;
		background-color: var(--color-dark);
		color: var(--color-white);
		font-size: rem(20px);
		line-height: rem(24px);
		padding: rem(17px) rem(21px) rem(15px) rem(22px);
		border-radius: 8px;
		transition: color var(--main-transition), background-color var(--main-transition);

		&-icon {
			display: block;
			margin-right: rem(10px);
			fill: var(--color-white);
		}

		&:hover {
			background-color: var(--color-green-light);
		}

		&:focus {
			background-color: var(--color-green-light);
		}
	}

	&__copyright {
		display: flex;
		align-items: flex-end;
		margin-top: rem(26px);

		@include mq(xs) {
			flex-direction: column;
			align-items: stretch;
		}
	}

	&__copyright-license {
		display: inline-block;
		margin-right: rem(40px);
		font-size: rem(16px);
		line-height: rem(19px);
		color: var(--color-grey2);

		@include mq(xs) {
			margin-right: 0;
			margin-bottom: rem-mq(10px);
			font-size: rem-mq(14px);
			line-height: rem-mq(16px);
		}
	}

	&__old-site-link {
		font-size: rem(20px);
		line-height: rem(24px);
		color: rgba($color: #000000, $alpha: 0.5);
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}

		&:focus {
			text-decoration: none;
		}

		@include mq(xs) {
			margin-top: rem-mq(10px);
			line-height: rem-mq(16px);
		}
	}
}
