extends layout/default

block variables
	- const bodyClass = "page-error"
	- const pageTitle = "Что-то пошло не так"
	- const siteLang = "ru"
	- headerClass = "header_color-green"

block content
	include pages/404/main.pug
