extends layout/default

block variables
	- const bodyClass = "page-home"
	- const pageTitle = "Главная"
	- const siteLang = "ru"
	- const headerFixed = "header_absolute"

block content
	include pages/index/main.pug
