extends layout/default

block variables
	- const bodyClass = "page-succes"
	- const pageTitle = "Идентификация прошла успешно!"
	- const siteLang = "ru"

block content
	include pages/succues-page/main.pug
