section.biometric-data
	.site-container.biometric-data__content
		+picture("device.png", "Если вы хотите сдать биометрические данные")(class="biometric-data__content-img")
		.site-content
			h2.site-second-title.biometric-data__title
				|	Если вы хотите сдать биометрические данные
			ul.biometric-data__list
				li.biometric-data__item
					b
						|	Создайте учётную запись,
					|	на портале «Госуслуги»
				li.biometric-data__item
					b
						|	Подойдите в офис Банка,
					|	чтобы сдать биометрические данные
				li.biometric-data__item
					b
						|	Специалист подтвердит учётную запись
					|	на&nbsp;портале &laquo;Госуслуги&raquo;, сфотографирует вас и&nbsp;запишет ваш голос
	.site-content.biometric-data__info-wrap
		span.biometric-data__legend
			|	А что такое «Удаленная идентификация»?
		p.biometric-data__text
			|	Удаленная идентификация&nbsp;&mdash; это механизм, позволяющий физическим лицам получать финансовые услуги дистанционно, подтвердив свою личность с&nbsp;помощью биометрических персональных данных (изображение лица и&nbsp;голоса)
