section.biometric-feautures
	ul.site-content.biometric-feautures__content
		li.biometric-feautures__item
			+icon("shield")(class="biometric-feautures__item-icon", width="58", height="58")
			span.biometric-feautures__item-heading
				|	Безопасно
			p.biometric-feautures__item-text
				|	Двойная проверка: подтверждение учётной записи ЕСИА на портале «Госуслуги» и очнов отделении любого банка при регистрации в Единой биометрической системе
		li.biometric-feautures__item
			+icon("sofa")(class="biometric-feautures__item-icon", width="58", height="58")
			span.biometric-feautures__item-heading
				|	Удобно
			p.biometric-feautures__item-text
				|	Вы становитесь полноценным клиентом банка и можете оформить ряд банковских продуктов, не выходя из дома
		li.biometric-feautures__item
			+icon("star")(class="biometric-feautures__item-icon _stroke", width="58", height="58")
			span.biometric-feautures__item-heading
				|	Лучшие условия
			p.biometric-feautures__item-text
				|	Находите лучшие условия вкладов и кредитов через интернет и заключайте договор с банком дистанционно
		li.biometric-feautures__item
			+icon("time")(class="biometric-feautures__item-icon _stroke", width="58", height="58")
			span.biometric-feautures__item-heading
				|	В любое время
			p.biometric-feautures__item-text
				|	Открывайте счета, вклады и получайте кредитыв удобное для вас время
