section.biometric-steps
	ul.site-content.biometric-steps__content
		li.biometric-steps__content-item
			h2.biometric-steps__title.site-second-title
				|	Если вы уже имеете биометрические данные
			p.biometric-steps__text
				|	Проверить регистрацию ваших биометрических данных можно в вашем профиле на портале или мобильном приложении Госуслуг
			a.biometric-steps__link(href="/")
				|	 Проверить статус
				+icon("arrow-right")(width="17", height="17", class="biometric-steps__link-icon")
		li.biometric-steps__content-item
			span.biometric-steps__content-item-step
				|	Шаг 1
			p.biometric-steps__content-item-text
				|	Для регистрации используйте компьютер или ноутбук с исправной камерой и микрофоном. Нажмитена кнопку «Стать клиентом через Госуслуги»
			+icon("monitor")(width="60", height="60", class="biometric-steps__content-item-icon")
		li.biometric-steps__content-item
			span.biometric-steps__content-item-step
				|	Шаг 2
			p.biometric-steps__content-item-text
				|	Следуйте инструкциям на экране. В процессе будет необходимо авторизоваться на портале Госуслуги и перейти к биометрической идентификации
			+icon("gos-logo")(width="60", height="60", class="biometric-steps__content-item-icon")
		li.biometric-steps__content-item
			span.biometric-steps__content-item-step
				|	Шаг 3
			p.biometric-steps__content-item-text
				|	Посмотрите в камеру и произнесите нескольких цифр в микрофон. Нажмите «Готово» и предоставьте банку права на просмотр данных
			+icon("face-id")(width="60", height="60", class="biometric-steps__content-item-icon")
		li.biometric-steps__content-item
			span.biometric-steps__content-item-step
				|	Шаг 4
			p.biometric-steps__content-item-text
				|	Подтвердите подписание документов и дождитесь СМС на телефон с данными для входа в Интернет-банк
			+icon("confirm")(width="60", height="60", class="biometric-steps__content-item-icon")
		li.biometric-steps__content-item.lazy(data-bg="img/biometric-steps-content-img.webp", data-bg-fallback="img/biometric-steps-content-img.png")
			a.biometric-steps__content-item-step(href="/")
				span
					|	Оформляйте банковские продукты, не выходя из дома
				+icon("arrow-right-big")(width="42", height="42", class="biometric-steps__content-item-icon")

