- mob_nav_arr = ["Общая информация", "Реквизиты банка", "Руководство и лицензии банка", "Открытая информация"]


header.header(class=headerClass)
	.site-container.header__container
		.header__top-block
			.header__top-block-info-wrap
				button.header__burger-button-mobile.button-reset.js-open-mob-menu-btn
					span
					span
					span
				.header__burger-button.header__dropdown(tabindex="0")
					+icon("burger-icon")(width="14", height="14", class="header__burger-icon")
					span
						|	о банке
					.header__dropdown-content
						.header__dropdown-content-inner
							a.header__dropdown-content-item(href="/")
								|	 Общая информация
							a.header__dropdown-content-item(href="/")
								|	 Реквизиты банка
							a.header__dropdown-content-item(href="/")
								|	 Руководство и лицензии банка
							a.header__dropdown-content-item(href="/")
								|	 Открытая информация
				.header__city.city-choose.header__dropdown(tabindex="0")
					+icon("arrow-down")(width="14", height="9", class="city-choose__icon")
					|	Казань
					.header__dropdown-content
						.header__dropdown-content-inner
							a.header__dropdown-content-item(href="/")
								|	Москва
							a.header__dropdown-content-item(href="/")
								|	 Нижний Новгород
							a.header__dropdown-content-item(href="/")
								|	 Набережные челны
							a.header__dropdown-content-item(href="/")
								|	 Нижнекамск
				a.header__tel(href="tel:88007751877")
					|	 8-800-77-518-77
				a.header__tel-mobile(href="tel:88007751877")
					+icon("phone")(width="16", height="16")
				a.button.button-reset.button_secondary.button_iconed.header__offices-button(href="/")
					+icon("marker")(width="25", height="25", class="button_iconed__icon")
					span
						|	офисы и банкоматы
				.button.button_secondary.header__web-bank.header__dropdown(tabindex="0")
					|	интернет-банк
					.header__dropdown-content
						.header__dropdown-content-inner
							a.header__dropdown-content-item(href="/")
								|	Физическим лицам
							a.header__dropdown-content-item(href="/")
								|	 Юридическим лицам
				button.button-reset.header__button-contacts
					+icon("chat")(width="14", height="14")
			a.header__logo.logo(href="/")
				img(src="img/logo.svg", alt="Банк Казани", class="header__logo-decktop")
				img(src="img/logo-white.png", alt="Банк Казани", class="header__logo-mobile")
		.header__bottom-block.js-form-container
			form.header__bottom-block-form(action="/")
				input.header__bottom-block-form-input(type="text", name="q", placeholder="Что ищете?")
			.header__bottom-block-links
				a.header__bottom-block-link._is-active(href="/")
					|	Частным лицам
				a.header__bottom-block-link(href="/")
					|	Бизнесу
			button.button-reset.header__search-button-hide.js-hide-form-button
				span
				span
			button.button-reset.header__search-button.js-show-form-button(aria-label="Поиск")
				+icon("search")(width="28", height="28", class="header__search-icon")
		.header__mobile-nav.mobile-nav
			.mobile-nav__inner
				form.mobile-nav__form
					input.mobile-nav__form-input(type="text", placeholder="Поиск", name="q")
					button.mobile-nav__form-button.button-reset
						+icon("search")(width="15", height="15", class="mobile-nav__form-button-icon")

				ul.mobile-nav__nav-list.mob-nav
					li.mob-nav__item.js-drop-menu-container-prent
						.mob-nav__head.js-drop-menu-btn
							span.mob-nav__head-title
								|	О банке
							+icon("arrow-shevron-left")(width="16", height="16", class="mob-nav__head-icon", class="gl__drop-menu-icon")
						.js-drop-menu-container.drop-menu-container.mob-nav__body-container
							ul.mob-nav__body.js-drop-menu
								for item in mob_nav_arr
									li.mob-nav__body-item
										a.mob-nav__body-link(href="/")=item
					li.mob-nav__item.js-drop-menu-container-prent
						.mob-nav__head.js-drop-menu-btn
							span.mob-nav__head-title
								|	Частным лицам
							+icon("arrow-shevron-left")(width="16", height="16", class="mob-nav__head-icon")
						.js-drop-menu-container.drop-menu-container.mob-nav__body-container
							ul.mob-nav__body.js-drop-menu
								for item in mob_nav_arr
									li.mob-nav__body-item
										a.mob-nav__body-link(href="/")=item
					li.mob-nav__item.js-drop-menu-container-prent
						.mob-nav__head.js-drop-menu-btn
							span.mob-nav__head-title
								|	Бизнесу
							+icon("arrow-shevron-left")(width="16", height="16", class="mob-nav__head-icon")
						.js-drop-menu-container.drop-menu-container.mob-nav__body-container
							ul.mob-nav__body.js-drop-menu
								for item in mob_nav_arr
									li.mob-nav__body-item
										a.mob-nav__body-link(href="/")=item

				a(href="tel:+78007751877").mobile-nav__tel
					|	8 800 77-518-77
				a.mobile-nav__offices-link(href="/")
					+icon("marker")(width="16", height="16", class="mobile-nav__offices-link-icon")
					|	офисы и банкоматы


