header.header
	.site-container.header__container
		.header__top-block
			a.header__logo.logo(href="/")
				img(src="img/logo.svg", alt="Банк Казани")
			button.button-reset.header__burger-button
				+icon("burger-icon")(width="14", height="14", class="header__burger-icon")
				span
					|	о банке
			button.button-reset.header__city.city-choose
				+icon("arrow-down")(width="14", height="9", class="city-choose__icon")
				|	Казань
			a.header__tel(href="tel:88007751877")
				|	 8-800-77-518-77
			a.button.button-reset.button_secondary.button_iconed.header__offices-button(href="/")
				+icon("marker")(width="25", height="25", class="button_iconed__icon")
				span
					|	офисы и банкоматы
			a.button.button-reset.button_secondary.header__web-bank(href="/")
				|	интернет-банк
		.header__bottom-block
			a.header__bottom-block-link._is-active(href="/")
				|	Частным лицам
			a.header__bottom-block-link(href="/")
				|	Бизнесу
			+icon("search")(width="28", height="28", class="header__search-icon", aria-label="Поиск")
