section.succes-identification
	.site-content.succes-identification__container
		img(src="img/succes-identification-img.png", alt="", class="succes-identification__image")
		h1.succes-identification__title
			|	Идентификация прошла успешно!
		p.succes-identification__text
			|	Мы рады быть вашим помощником в мире финансов.
		a.button.succes-identification__button(href="/")
			|	 Перейти в интернет-банк
