section.online-services
	.site-content.online-services__container
		h2.online-services__title.site-second-title
			|	Получайте услуги нашего банка, не выходя из дома
		ul.online-services__list
			li.online-services__item
				+icon("doc")(width="60", height="60", class="online-services__item-icon")
				div
					span.online-services__item-legend
						|	Открывайте счета
					span.online-services__item-text
						|	Сохраняйте и&nbsp;зарабатывайте без дополнительных условий
			li.online-services__item
				+icon("percent")(width="60", height="60", class="online-services__item-icon")
				div
					span.online-services__item-legend
						|	Делайте вклады
					span.online-services__item-text
						|	Открывайте вклады с&nbsp;выгодными условиями
			li.online-services__item
				+icon("wallet")(width="60", height="60", class="online-services__item-icon")
				div
					span.online-services__item-legend
						|	Получайте кредиты
					span.online-services__item-text
						|	Теперь получение кредита быстрее и удобнее
			li.online-services__item
				+icon("wallet")(width="60", height="60", class="online-services__item-icon")
				div
					span.online-services__item-legend
						|	Обмен валюты
					span.online-services__item-text
						|	Обменивайте валюту в любое время прямос вашего телефона
