section.online-services-use-now
	.site-content.online-services-use-now__conatiner
		h2.online-services-use-now__title.site-second-title
			|	Начните пользоваться уже сейчас
		ul.online-services-use-now__list.grid
			li.online-services-use-now__item
				span.online-services-use-now__item-legend
					|	Шаг 1
				span.online-services-use-now__item-text
					|	Перейдите в Интернет-банк или установитеприложение Банка Казани
				.online-services-use-now__item-links
					img(src="img/qr-big.png", alt="QR код", class="online-services-use-now__item-qr")
					a.online-services-use-now__item-appstore(href="/")
						img(src="img/apple-store-big.png", alt="Загрузите в AppStore")
					a.online-services-use-now__item-googlepaly(href="/")
						img(src="img/google-play-big.png", alt="Загрузите в GoolglePlay")
			li.online-services-use-now__item
				span.online-services-use-now__item-legend
					|	Шаг 2
				span.online-services-use-now__item-text
					|	Выполните вход с помощью логина и пароля
			li.online-services-use-now__item
				span.online-services-use-now__item-legend
					|	Шаг 3
				span.online-services-use-now__item-text
					|	Совершайте операции безопасно, в любое время
