*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size:  10px;
	line-height: 1.2;

	@include mq(custom, max, 1440px) {
		font-size: 9px;
	}

	@include mq(custom, max, 1367px) {
		font-size: 7px;
	}

	@include mq(lg) {
		font-size: 6px;
	}
}

body {
	color: var(--color-dark);
	font-size: rem(16px);
	line-height: rem(24px);
	font-family: var(--main-ff);
	background-color: var(--color-white);
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

h1 {
	margin: 0;
	font-weight: 700;
	line-height: 1.2;
	font-family: var(--main-ff);
}

h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 600;
	font-family: var(--main-ff);
}

a {
	text-decoration: none;
	color: inherit;
	outline: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.list-rest {
	padding: 0;
	margin: 0;
	list-style: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}

.site-container {
	width: 100%;
	max-width: 1526px;
	margin: 0 auto;
	padding: 0 20px;

	@include mq(custom, max, 1367px) {
		max-width: 1170px;
	}

	@include mq(sm) {
		.site-content {
			padding: 0;
		}
	}
}

.site-content {
	width: 100%;
	max-width: 1270px;
	margin: 0 auto;
	padding: 0 20px;

	@include mq(custom, max, 1367px) {
		max-width: 1170px;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: var(--grid-gap);
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;

	::selection {
		background-color: var(--color-purple);
		color: var(--color-white);
	}
}

.page-main {
	flex-grow: 1;
}
